<template>
  <div>
    <!-- <conditional-view /> -->
    <iteration-view />
  </div>
</template>

<script>
  import IterationView from './components/Iteration.vue';
  // import ConditionalView from './components/Conditional.vue';
  export default {
  components: { 
    // ConditionalView,
    IterationView,
  },
}
</script>
<style lang="scss" scoped>

</style>